<!DOCTYPE html>
<html layout:decorate="~{lib/layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2025 Bucket List</title>
    <link rel="stylesheet" href="/dist/css/bucket-detail.css">
</head>
<body>
<div class="wrapper" layout:fragment="content">
    <div class="content-wrapper">
        <div class="content-header list_title" style="background: white">
            <div th:replace="lib/navibar.html :: frag_navibar"></div>
            <div class="container-fluid">
                <div class="row" style="justify-content: center">
                    <div onclick="window.location.href='/list'" class="col-sm-6" style="cursor: pointer">
                        <h3 class="m-0" style="text-align: center; font-family: fantasy;">2025 Bucket List</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="containers">
                <div class="text">
                    <div class="main1_title">BUCKETLIST</div>
                    <div class="name" th:text="|내용: ${todoDto.getContent()}|"></div>
                    <div class="date" th:text="|목표기간: ${todoDto.getGoalDay()}|"></div>
                    <div class="complete" th:text="|달성여부: ${todoDto.isCheckComplete() ? '완료' : '미완료'}|"></div>
                    <div class="category" th:text="|카테고리: ${todoDto.getCategoryDto().name}|"></div>
                    <button id="btn4" th:text="|좋아요 ${liked}|" th:onclick="|location.href='@{/like/}' + ${todoDto.getId()}|"></button>
                    <div class="line1"></div>

                    <div class="btn">
                        <div class="btn_box1">
                            <div class="comment" th:text="|댓글수: ${todoDto.getReviews().size()}|"></div>
                        </div>
                        <div class="btn_box2">
                            <button id="btn2" type="button" th:onclick="|location.href='@{/list/modify/} + ${todoDto.getId()}'|">수정</button>
                            <button id="btn3" type="button" th:onclick="|location.href='@{/list/delete/} + ${todoDto.getId()}'|">삭제</button>
                        </div>
                    </div>
                    <div class="comment_box">
                        <form id = "comment_text" th:action="|/review/create/${todoDto.getId()}|" method="post">
                            <input type="text" name="content" id="content" placeholder="댓글 입력">
                            <input type="submit" value="댓글 달기">
                        </form>
                        <div class="comments">
                            <table th:each="review : ${todoDto.getReviews()}">
                                <tr>
                                    <td id="tdName" th:colspan="0"
                                        th:if="${review.getModify_at()==null}" th:text="|${review.getUser().getNickname()} : ${#temporals.format(review.getCreate_at(), 'yyyy-MM-dd hh:mm')}|" ></td>
                                    <td th:if="${review.getModify_at()!=null}"
                                    th:text="|${review.getUser().getNickname()} : ${#temporals.format(review.getCreate_at(), 'yyyy-MM-dd hh:mm')}     수정됨|"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="comment_list" th:text="|${review.getContent()}|"></td>
                                    <td id ="td1"><a th:href="|/review/modify/${review.getId()}|">수정</a></td>
                                    <td id ="td2"><a th:href="|/review/delete/${review.getId()}|">삭제</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <img class="image" th:src="@{'http://localhost:8080/uploads' + ${todoDto.getImagePath()}}" alt="Bucket list 이미지">
            </div>
        </div>
    </div>
</div>
</body>
</html>
