<!DOCTYPE html>
<html layout:decorate="~{lib/layout}">
<div class="wrapper" layout:fragment="content">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v1</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <section class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">버킷리스트 게시판</h3>
                            </div>
                            <div class="card-body p-0">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th style="width: 100px">글번호</th>
                                        <th>글 제목</th>
                                        <th style="width: 100px">작성시간</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->

            <!-- 버킷리스트 목록 grid -->
            <div class="position-relative p-3 m-3 list-box" style="height:180px;width:240px">
                <div class="ribbon-wrapper ribbon-lg">
                    <div class="ribbon bg-info">
                        "Ribbon"
                    </div>
                </div>
                ????????????
                <br>
                with sometihng
            </div>
        </section>

    </div>
</div>
</html>