<!DOCTYPE html>
<html layout:decorate="~{lib/layout}" xmlns="http://www.w3.org/1999/html">
<div class="wrapper" layout:fragment="content">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header list_title">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div onclick="window.location.href='/'" class="col-sm-6" style="cursor: pointer">
                        <h1 class="m-0">2025 버킷리스트</h1>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="lib/navibar.html :: frag_navibar"></div>
        <section class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12" style="max-width: 700px;margin: 0 auto">
                        <div class="card">
                            <div class="card-header">
                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#" aria-current="page">여행</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" aria-current="page">행복</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" aria-current="page">커리어/꿈</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 버킷리스트 목록 grid -->
            <div class="list-box-wrap">
                <!-- 예시1 -->
                <div onclick="window.location.href = '#'" class="position-relative m-3 list-box">
                    <img src="https://media.istockphoto.com/id/991732782/ko/%EC%82%AC%EC%A7%84/%EA%B3%A0%EA%B8%89-%EB%A0%88%EC%8A%A4%ED%86%A0%EB%9E%91%EC%97%90%EC%84%9C-%EB%A0%88%EB%93%9C-%EC%99%80%EC%9D%B8%EC%9D%84-%EC%A0%9C%EA%B3%B5-%ED%95%98%EB%8A%94-%EC%86%8C%EB%AF%88%EB%A6%AC%EC%97%90%EC%9D%98-%ED%81%B4%EB%A1%9C%EC%A6%88%EC%97%85.jpg?s=2048x2048&w=is&k=20&c=j8CBITXwxK3k4oWOi95eeP5Ibt-R-NCrQy895K8yBqc="
                         alt="Photo" class="img-fluid">
<!--                    <div class="ribbon-wrapper ribbon-lg">-->
<!--                        <div class="ribbon bg-info">-->
<!--                            " 완료 "-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="p-3">
                        <h5>
                            책정리
                        </h5>
                        <p>
                            좋아하는 책으로 가득 채운 책장을 정리하는 대청소날
                        </p>
                        <span>홍길동</span>
                    </div>
                </div>
                <!-- 예시2 -->
                <div onclick="window.location.href = '#'" class="position-relative m-3 list-box">
                    <img src="https://media.istockphoto.com/id/991732782/ko/%EC%82%AC%EC%A7%84/%EA%B3%A0%EA%B8%89-%EB%A0%88%EC%8A%A4%ED%86%A0%EB%9E%91%EC%97%90%EC%84%9C-%EB%A0%88%EB%93%9C-%EC%99%80%EC%9D%B8%EC%9D%84-%EC%A0%9C%EA%B3%B5-%ED%95%98%EB%8A%94-%EC%86%8C%EB%AF%88%EB%A6%AC%EC%97%90%EC%9D%98-%ED%81%B4%EB%A1%9C%EC%A6%88%EC%97%85.jpg?s=2048x2048&w=is&k=20&c=j8CBITXwxK3k4oWOi95eeP5Ibt-R-NCrQy895K8yBqc="
                         alt="Photo" class="img-fluid">
                    <div class="ribbon-wrapper ribbon-lg">
                        <div class="ribbon bg-info">
                            " 완료 "
                        </div>
                    </div>
                    <div class="p-3">
                        <h5>
                            책정리
                        </h5>
                        <p>
                            좋아하는 책으로 가득 채운 책장을 정리하는 대청소날
                        </p>
                        <span>홍길동</span>
                    </div>
                </div>
            </div>

        </section>

    </div>
</div>
</html>