<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<fieldset>
    <form th:action="@{/signup_process}" method="post">
        <input type="text" name="nickname" id="nickname" placeholder="닉네임" required/>
        <br/>
        <input type="email" name="email" id="email" placeholder="이메일" required/>
        <br/>
        <input type="password" name="password" id="password" placeholder="비밀번호" required/>
        <br/>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="비밀번호 확인" required/>
        <br/>
        <input type="submit" value="회원가입"/>
    </form>
</fieldset>
</body>
</html>
