<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="/dist/css/login.css">
</head>
<body>
<div>
    <div onclick="window.location.href='/'" style="cursor: pointer">
        <h1 style="text-align: center;font-family: fantasy">2025 Bucket List</h1>
    </div>
    <fieldset class="login-container">
        <h2>회원가입</h2>
        <form th:action="@{/signup_process}" method="post"  onsubmit="return validatePasswords();">
            <label for="nickname">이름(닉네임)</label>
            <input type="text" id="nickname" name="nickname" required>
            <label for="email">이메일</label>
            <input type="email" id="email" name="email" required>

            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" required>

            <label for="confirmPassword">비밀번호 확인</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>

            <button type="submit" style="background: #222;">회원가입</button>
            <a href="/login" style="margin-top:20px;display:inline-block">로그인</a>
        </form>
    </fieldset>
</div>
<script>
    function validatePasswords() {
        const password = document.getElementById('password').value;
        const password2 = document.getElementById('confirmPassword').value;

        if (password !== password2) {
            alert('비밀번호가 일치하지 않습니다.');
            return false; // 폼 제출을 막음
        }
        return true; // 폼 제출을 허용
    }
</script>

</body>
</html>
