<!DOCTYPE html>
<html layout:decorate="~{lib/layout}" xmlns="http://www.w3.org/1999/html">
<div class="wrapper" layout:fragment="content">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header list_title">
            <div th:replace="lib/navibar.html :: frag_navibar"></div>
            <div class="container-fluid">
                <div class="row" style="justify-content: center">
                    <div onclick="window.location.href='/list'" class="col-sm-6" style="cursor: pointer">
                        <h3 class="mb-3" style="text-align: center;font-family: fantasy">2025 Bucket List</h3>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <h2 class="m-5" style="text-align: center;">나의 버킷리스트</h2>
                <div class="row">
                    <div class="col-md-12" style="max-width: 700px;margin: 0 auto">
                        <!--
                        <div class="card">
                            <div class="card-header">
                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#" aria-current="page">여행</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" aria-current="page">행복</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>

            <!-- 버킷리스트 목록 grid -->
            <div class="list-box-wrap" >
                <div class="list-in" th:each="todo : ${todos}">
                    <div class="position-relative m-3 list-box">
                        <img th:src="@{'http://localhost:8080\uploads' + ${todo.getImagePath()}}"
                             alt="Todo Image" class="img-fluid">

                        <div class="ribbon-wrapper ribbon-lg" th:style="${todo.isCheckComplete() ? 'display:inline-block' : 'display:none'}">
                            <div class="ribbon bg-info">
                                완료
                            </div>
                        </div>

                        <div class="p-3">
                            <h5 th:text="${todo.content}"></h5>
                            <!--
                            <p>
                                좋아하는 책으로 가득 채운 책장을 정리하는 대청소날
                            </p>
                            -->
                            <span th:text="${todo.getGoalDay()}"></span>
                            <td><a th:href="|/list/modify/${todo.id}|">수정하기</a></td>
                        </div>
                    </div>
                </div>
            </div>
                <div class="card-header" style="width: 200px;margin:0 auto;">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active"  th:href="@{/list}" aria-current="page">목록</a>
                        </li>
                    </ul>
                </div>
        </section>

    </div>
</div>
</html>